* {
  margin: 0; 
  padding: 0;

}

@font-face {
  font-family: wegas-blur; /* Name your font family */
  src: url('/font/WegasblurRegularDemo-2vr0v.otf'); /* Locate the .ttf file within your directory*/
}

body {
  background-color: #ffffff;
}

div#banner {
  padding-bottom: 30px;
}

header {
  text-align: center;
  font-family: "Monospace";
  color: #94959c;
  margin-bottom: 20px;

}

a#banner-content {
  font-size: 25px;
  font-family: wegas-blur;
  color: #ca1524;
  text-decoration: none;
}

p {
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Monospace";
  color: #94959c;
  text-decoration: none;
}

a {
  font-family: "Monospace";
  color: #94959c;
  text-decoration-line: underline;
}

body {
  margin-top: 50px;
  text-align: center;
}

#images{
  text-align:center;
}

#homelink {
  position: absolute;
  top: 60px;
  left: 40px;
  text-decoration: none;
  color: #ce5454;
  font-family: wegas-blur;
}

.home_wrapper {
  display: grid;
  column-gap: 300px; 
  row-gap: 100px;
  justify-content: center;
  grid-template-columns: repeat(4, 0px);
}

.rear_rack_wrapper {
  display: grid;
  column-gap: 200px; 
  row-gap: 120px;
  justify-content: center;
  grid-template-columns: repeat(1, 0px);
  grid-template-rows: repeat(4, 0px)
}

.rear_rack_container {
  position: relative;
  object-fit: contain;
  text-decoration: none;
  left: 0%;
}

.rear_rack_image {
  object-fit:contain;
  width: 300px;
  height: 300px;
  position: absolute;
  transform: translateX(-50%);
  left: 0%;
}

.home_container {
  position: relative;
  object-fit:contain;
  text-decoration: none;
  width: 100px;
  height: 100px;
  left: 0%;
}

.home_container:hover .overlay {
  opacity: 1;
  background-color: #ffffff;
}

.home_image {
  object-fit:contain;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateX(-50%);
  left: 0%;
}

.page_container {
  position: relative;
  object-fit:contain;
  text-decoration: none;
  width: 300px;
  height: 350px;
}

.page_wrapper {
  display: grid;
  column-gap: 350px; 
  row-gap: 300px;
  justify-content: center;
  grid-template-columns: repeat(3, 0px);
  grid-template-rows: repeat(4, 0px)
}

.page_image {
  object-fit:contain;
  width: 300px;
  height: 300px;
  position: absolute;
  transform: translateX(-50%);
}

.overlay {
  position: center;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: 1s ease;
  color: #9c9c9c;
  font-size: 15px;
  transform: translateX(-50%);
  left: 0%;
}

.about_me_image1 {
  position: absolute;
  left: 10px;
  top: 125px;
  width: 25%;
}

.about_me_image2 {
  position: absolute;
  left: 500px;
  top: 260px;
  width: 20%;
}

.about_me_image3 {
  position: absolute;
  left: 850px;
  top: 150px;
  width: 14%;
}

.about_me_image4 {
  position: absolute;
  left: 250px;
  top: 150px;
  width: 8%;
}

.about_me_image5 {
  position: absolute;
  left: 450px;
  top: 320px;
  width: 7%;
}