* {
  margin: 0; 
  padding: 0;

}

@font-face {
  font-family: wegas-blur; /* Name your font family */
  src: url('/font/WegasblurRegularDemo-2vr0v.otf'); /* Locate the .ttf file within your directory*/
}

body {
  background-color: #ffffff;
}

header {
  margin-top: 10px;
  text-align: center;
  height : 300 vh;
  color: #94959c;
}

a#banner-content { 
  position: absolute; 
  left: 435px;
  top: 0px;
  padding: 30px;
  font-size: 40px;
  font-family: wegas-blur;
  color: #ca1524;
  text-decoration: none;
}

p {
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Monospace";
  color: #94959c;
}

body {
  margin-top: 100px;
  text-align: center;
}

#images{
  text-align:center;
}

#homelink {
  position: absolute;
  top: 40px;
  left: 40px;
  text-decoration: none;
  color: #ce5454;
  font-family: wegas-blur;
}

.home_wrapper {
  display: grid;
  column-gap: 300px; 
  row-gap: 150px;
  justify-content: center;
  grid-template-columns: repeat(3, 0px);
  grid-template-rows: repeat(4, 0px)
}

.rear_rack_wrapper {
  display: grid;
  column-gap: 200px; 
  row-gap: 120px;
  justify-content: center;
  grid-template-columns: repeat(1, 0px);
  grid-template-rows: repeat(4, 0px)
}

.rear_rack_container {
  position: relative;
  object-fit:contain;
  text-decoration: none;
  left: 0%;
}

.rear_rack_image {
  object-fit:contain;
  width: 400px;
  height: 300px;
  position: absolute;
  transform: translateX(-50%);
  left: 0%;
}


.home_container {
  position: relative;
  object-fit:contain;
  text-decoration: none;
  left: 0%;
}

.home_container:hover .overlay {
  opacity: 1;
  background-color: #ffffff;
}

.home_image {
  object-fit:contain;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateX(-50%);
  left: 0%;
}

.page_container {
  position: relative;
  object-fit:contain;
  text-decoration: none;
}

.page_wrapper {
  display: grid;
  column-gap: 320px; 
  row-gap: 280px;
  margin-bottom: 0px;
  justify-content: center;
  grid-template-columns: repeat(3, 0px);
  grid-template-rows: repeat(4, 0px)
}

.page_image {
  object-fit:contain;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
}

.overlay {
  position: center;
  height: 100%;
  width: 100%;
  opacity: 0%;
  transition: 1s ease;
  color: #9c9c9c;
  font-size: 15px;
  transform: translateX(-50%);
  left: 0%;
}
